body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle__input {
    display: none;
}

.toggle__bar {
    width: 9rem;
    height: 3rem;
    background-color: #eee;
    border-radius: 5rem;
    padding: 5px;
    transition: background-color .2s linear;
}

.toggle__spin {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 5rem;
    transition: transform .2s linear;
}

.toggle__input:checked+.toggle__bar {
    background-color: #1843a0;
}

.toggle__input:checked+.toggle__bar .toggle__spin {
    transform: translateX(6rem);
}